<a href="https://colab.research.google.com/github/kanchan745/pandas-basics/blob/main/pandas_describe_and_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Describe method : it ll provide a summary of descriptive statistics for numeric columns  in your data frame

**Sample data frame using dictionary**

In [3]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam','Ghanshyam', 'Kanchan','Riya', 'Athrav','Ankit', 'Kavya', 'Kashish'],
    "Age" : [10,20,30,40,50,40,50,55,40],
    "Salary" : [10000,20000,30000,50000,60000,80000,70000,80000,80000],
    "Performance score":[50,60,40,95,50,52,75,95,90]
    }
df = pd.DataFrame(data)
print("Sample data frame :")
print(df)

Sample data frame :
        Name  Age  Salary  Performance score
0        Ram   10   10000                 50
1      Shyam   20   20000                 60
2  Ghanshyam   30   30000                 40
3    Kanchan   40   50000                 95
4       Riya   50   60000                 50
5     Athrav   40   80000                 52
6      Ankit   50   70000                 75
7      Kavya   55   80000                 95
8    Kashish   40   80000                 90

#Role of Describe Method:

give numerical column  summary statics calculation and show us

In [4]:
print ("Descriptive statistics")
print(df.describe())

Descriptive statistics
             Age        Salary  Performance score
count   9.000000      9.000000           9.000000
mean   37.222222  53333.333333          67.444444
std    14.813657  27386.127875          21.622391
min    10.000000  10000.000000          40.000000
25%    30.000000  30000.000000          50.000000
50%    40.000000  60000.000000          60.000000
75%    50.000000  80000.000000          90.000000
max    55.000000  80000.000000          95.000000

count means : the no. of not null means not missing value in each column
mean : the arthematic average of the value in each columns  
std : standard deviation ->  tells us how many values in  a columns ask right  out or different average (in simple we will divide a std in two parts 1) small std or 2) large std
smallstd:  values are those value which are very close to average
large std : values which are away from the avg

used to measure consistency , and to detect variation ..

min : minimum value of column of that data

25% first quarter of your data  : if we sorted our no. then 25% data will be below this value
example sorted ages (22,25,28,24,30,32,34,40)
p1 (part 1 contain lower 25%) [22,25]
p2 (next 25% )[28,24]
p3 (next 25%)[30,32]
p4 (highest 25%)[34,40]

why is it imp : it tell u what values separate the lowest 25% of ur data  from the rest
example  : if u ve salary data
so it can so u the lowest salary threshold for the lowest paid employees


THEN 50%  : median it mean it is the middle value of ur data when it was sorted
 example  : [29,30] two  middle no
 so median is 29.5

 similarly third quartile 75%  get (32)
 it will show u highest 75 % of urdata from the rest

 max : which stands for highest values means lagest no . of ur column
(highest no of ur column data )
  


# Descripe method is very powerful method with the help we can find numerical descriptive

#Before analyizing and manipulating data

1_How big is your dataset
2_what are the names of the columns

**To solve this problems pandas give two attributes ...**

shape and columns
shape shows how many colmns and rows in your data   :display number
columns : display all names of columns which are in your dataset
shape -> attribute return tuple with two values 1. no of rows and no. of columns
or we can find is dataset size is datast is small medium or large

column -> names of columns ->as an index object
we can also rename the data.

In [9]:
import pandas as pd

data = {
    "Name" : ['Ram', 'Shyam','Ghanshyam', 'Kanchan','Riya', 'Athrav','Ankit', 'Kavya', 'Kashish'],
    "Age" : [10,20,30,40,50,40,50,55,40],
    "Salary" : [10000,20000,30000,50000,60000,80000,70000,80000,80000],
    "Performance score":[50,60,40,95,50,52,75,95,90]
    }
df = pd.DataFrame(data)
print("Sample data frame :")
print(f'Shape :{df.shape}')
print(f'Column Names: {df.columns}')

Sample data frame :
Shape :(9, 4)
Column Names: Index(['Name', 'Age', 'Salary', 'Performance score'], dtype='object')

use : shape to know the dataset ,
columns : to know the structure of the dataset

#selection of different columns  and filter on rows based on certain conditions

1 . select specific column -> use square brackets
2. filter rows -> boolean condition
3. combine multiple condition

selecting column will return a series or dataframe (multiple columns of data )

filtering rows : extract those rows which met a specific condition
use boolean indexing = when condition is true rows will be extract else not

In [ ]:
#column = df["Column Name"]
#for  multiple columns : subset = df["Column1","Column2","......."]

#rows filteration based on the specific condition
#syntax : df [df["Column_Name" operator (condition)]]
#example = df[df["Salary"] > 50000]
#combine multiple conditions
#filtered_Rows = df[(df["Salary"]>50000) & (df["Column2"]< 80000)]

column = df["Column Name"]
for  multiple columns : subset = df["Column1","Column2","......."]

rows filteration based on the specific condition
syntax : df [df["Column_Name" operator (condition)]]
example = df[df["Salary"] > 50000]
combine multiple conditions
filtered_Rows = df[(df["Salary"]>50000) & (df["Column2"]< 80000)]

In [10]:
df = pd.DataFrame(data)
print("Sample data frame :")
print(df)

Sample data frame :
        Name  Age  Salary  Performance score
0        Ram   10   10000                 50
1      Shyam   20   20000                 60
2  Ghanshyam   30   30000                 40
3    Kanchan   40   50000                 95
4       Riya   50   60000                 50
5     Athrav   40   80000                 52
6      Ankit   50   70000                 75
7      Kavya   55   80000                 95
8    Kashish   40   80000                 90

In [12]:
#selecting single column
print ("Names (single column return  series)")
name = df ['Name']
print (name )
#2nd way
print(df["Name"])

Names (single column return  series)
0          Ram
1        Shyam
2    Ghanshyam
3      Kanchan
4         Riya
5       Athrav
6        Ankit
7        Kavya
8      Kashish
Name: Name, dtype: object

In [14]:
#selecting multiple columns
subset = df[["Name","Salary"]]
print('\n Subset of data frame:')
print(subset)

 Subset of data frame:
        Name  Salary
0        Ram   10000
1      Shyam   20000
2  Ghanshyam   30000
3    Kanchan   50000
4       Riya   60000
5     Athrav   80000
6      Ankit   70000
7      Kavya   80000
8    Kashish   80000

In [20]:
#filtering rows on single condfition
high_salary =df[df["Salary"] > 50000]
print('Employees with salary greater than 50000:')
print(high_salary)
#

Employees with salary greater than 50000:
      Name  Age  Salary  Performance score
4     Riya   50   60000                 50
5   Athrav   40   80000                 52
6    Ankit   50   70000                 75
7    Kavya   55   80000                 95
8  Kashish   40   80000                 90

In [21]:
#now mutiple condition on rows
#filtering rows salary > 50k & age > 30
filter = df[(df['Salary'] > 50000  ) & (df['Age']> 30)]
print ("Employee list Age > 30 + Salary  >50000")
print(filter)

Employee list Age > 30 + Salary  >50000
      Name  Age  Salary  Performance score
4     Riya   50   60000                 50
5   Athrav   40   80000                 52
6    Ankit   50   70000                 75
7    Kavya   55   80000                 95
8  Kashish   40   80000                 90

In [22]:
#using or condition (one condition can be True)
filter_or = df[(df['Age'] > 35)| (df['Performance score'] > 90)]
print("Employee list Age > 35 or Performance score > 90")
print(filter_or)

Employee list Age > 35 or Performance score > 90
      Name  Age  Salary  Performance score
3  Kanchan   40   50000                 95
4     Riya   50   60000                 50
5   Athrav   40   80000                 52
6    Ankit   50   70000                 75
7    Kavya   55   80000                 95
8  Kashish   40   80000                 90